@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px;
}

.nav p{
    color: rgb(13, 19, 33);

    font-size: 28px;
    font-weight: 800;
    text-align: center;

}

.nav button{
    width: 244px;
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.button{
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
}
.hero{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 998px;
    height: 581px;
    gap: 0;
    margin: 0px auto;
    padding: 26px 221px 45px;

}
.hero-titel{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 24px;
}
.hero-des{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    max-width: 852px;
    margin-bottom: 32px
}
.hero-btn{
    color: white;
    background-color: black;
    border: none;
}
.hero-btn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.why-web{
    max-width: 1140px;
    padding: 80px 97px 80px 97px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px auto 90px;
    margin-bottom: 90px;
}
.why-ido{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-heading{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    max-width: 852px;
    margin-bottom: 24px;
}

.why-do-des{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.why-web-t1{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}
.why-web-des{
    color: rgb(13, 19, 33);   
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    opacity: 0.7;
}

.why-web-button{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 12px 20px 12px 20px;
    width: 171px;
    height: 47px;
}
.why-web-explanation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    width: 100%;
}
.why-web-exdata{
    max-width: 477px;
}
.inspiration{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 151px;
}
.section-des{
    color: rgb(13, 19, 33);   
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;

}
.inspiration-data{
    max-width: 853px;
    margin: o auto;
}
.inspiration-video{
    max-width:  100%;;
    padding: 32px;
}
iframe {
  border-radius: 16px; /* Adjust this value as needed */
  border: none; /* Removes default iframe border */
}

.current-target-header{
    max-width: 946px;
    margin: 0 auto;
}
.a-learnmore{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-decoration-line: underline;
}
.current-target-body{
    width: 100%;
    margin: 48px auto 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.current-targets{
    border-radius: 16px;
    padding: 40px;
    max-width: 284px;
}
.html-bg{
    background: rgba(255, 76, 30, 0.05);
}
.css-bg{
    background: rgba(0, 76, 232, 0.05);
}
.js-bg{
    background: rgba(255, 223, 0, 0.05);
}

.current-target{
    margin-bottom: 111px;
}

.next-target{
    max-width: 1140px;
    margin: 0 auto;
}
.next-targets-header{
    max-width: 852px;
    margin: 0 auto;
}
.next-targets{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 40px;
    justify-content: space-between;
    margin-top: 24px;
}
.next-targets-text{
    max-width: 940px;

}

.support{
    background-image: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1140px;
    height: 313px;
    margin: 0 auto;
    border-radius: 16px;
    padding: 64px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 49px;
}
.support-input-email{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 548px;
    height: 57px;
}
.support-input-submit{
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 120px;
    height: 57px;
    border: none;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.support-des{
    max-width: 606px;
}


 input::placeholder{
    padding-left: 30px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(13, 19, 33, 0.4);
}
.support-heading{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
}
.support-des{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 24px;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 32px 150px 32px 150px;
}